<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>{{ editMode ? tituloEditar : tituloCrear }}</mat-card-title>
        <!-- ============================================================== -->
        <!-- column -->
        <!-- ============================================================== -->
        <div class="basic-form">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row">
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select [formControl]="controlEvento" placeholder="Evento academico">
                  <mat-option *ngFor="let evento of eventosPorDefecto" [value]="evento">{{ evento.title }}
                    
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="controlEvento.hasError('required')">
                  El campo Evento académico es obligatorio
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <form [formGroup]="form" class="basic-form">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row">
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput formControlName="title" placeholder="NOMBRE" [readonly]="readonlyControl">
                <mat-error *ngIf="title.hasError('required')">
                  El campo Nombre es obligatorio
                </mat-error>
              </mat-form-field>

            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <input formControlName="start" matInput [matDatepicker]="picker"
                  placeholder="Fecha de inicio del Evento">

                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="start.hasError('required')">
                  El campo Fecha de inicio del Evento es obligatorio
                </mat-error>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100">
              <button mat-raised-button *ngIf="!editMode" type="button" (click)="crear()"
                color="primary">ACEPTAR</button>
              <button mat-raised-button *ngIf="editMode" type="button" (click)="editar()"
                color="primary">ACEPTAR</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>