<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Lista de grupos<h1></h1></mat-card-title>
        <div class="basic-form">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row">            
            <!-- column -->
            <div fxFlex.gt-sm="35" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select placeholder="PERIODO" [(ngModel)]="periodoFiltro">
                  <mat-option *ngFor="let periodo of listaPeriodos" [value]="periodo">
                    {{ periodo }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="35" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select placeholder="GESTION" [(ngModel)]="gestionFiltro">
                  <mat-option *ngFor="let gestion of listaGestiones" [value]="gestion">
                    {{ gestion }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="30" fxFlex="100" class="p-10">
              <button mat-raised-button  type="button" color="primary" style="width: 100%;" *ngIf="!isFiltered" (click)="filtrarGrupos()">FILTRAR</button>
              <button mat-raised-button  type="button" color="primary" style="width: 100%;" *ngIf="isFiltered" (click)="limpiarFiltros()">LIMPIAR FILTRO</button>
            </div>
          </div>
        </div>
        <div class="responsive-table">
          <mat-table #table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="numero">
              <mat-header-cell *matHeaderCellDef> N°. Grupo </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">N°. Grupo:</span>
                {{element.numero}}
              </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="curso">
              <mat-header-cell *matHeaderCellDef> Curso </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Curso:</span>
                {{element.curso_nombre+'-'+element.nivel_nombre}}
              </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="horario">
              <mat-header-cell *matHeaderCellDef> Horario </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Horario:</span>
                {{element.horario_nombre}}
              </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="profesor">
              <mat-header-cell *matHeaderCellDef> Profesor </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Profesor:</span>
                {{element.usuario_nombre_completo}}
              </mat-cell>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="opciones">
              <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Opciones:</span>
                <button mat-icon-button matTooltip="Lista de Alumnos" color="primary"
                  [routerLink]="['/grupos/lista-inscritos',element.id]">
                  <mat-icon aria-label="Example icon-button with a heart icon">list</mat-icon>
                </button>
                <button *hasPermission="['can_edit_grupos']" mat-icon-button matTooltip="Editar Grupo" color="primary" (click)="editar(element.id)">
                  <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                </button>
                <button *hasPermission="['can_delete_grupos']"mat-icon-button (click)="eliminar(element.id)" color="primary">
                  <mat-icon aria-label="Example icon-button with a heart icon">delete_forever</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>