/* Column Widths */
.mat-column-position {
	max-width: 80px;
	justify-content: center;
}


.mat-column-name,
.mat-column-weight {
  max-width: 150px;
}

.mat-row:hover {
  background-color:#99d8d0;
}
