.mat-column-firstQuiz,
.mat-column-secondQuiz,
.mat-column-midterm,
.mat-column-finalExam,
.mat-column-nota,
.mat-column-thirdQuiz {
  max-width: 80px;
  justify-content: center;
}

.mat-column-periodo,
.mat-column-fecha {
  max-width: 100px;
}

.mat-column-opciones {
  max-width: 80px;
}
