<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card *ngIf="grupo">
      <mat-card-content>
        <mat-card-title>Información del grupo:</mat-card-title>
        <!-- ============================================================== -->
        <!-- column -->
        <!-- ============================================================== -->
        <form class="basic-form">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row">
            <!-- column -->
            <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="N°. Grupo" [value]="grupo.numero" readonly>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Curso" [value]="grupo.curso_nombre+' '+grupo.nivel_nombre" readonly>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="33.33" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Horario" [value]='grupo.horario_nombre' readonly>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput placeholder="Profesor" [value]="grupo.usuario_nombre_completo" readonly>
              </mat-form-field>
            </div>
          </div>
        </form>
        <mat-card-actions>
          <!-- class="btn-block btn-lg m-t-5 m-b-10" -->
          <button mat-raised-button color="primary" class="btn-block" type="button" *ngIf="!isVisibleListaEstudiantes"
            (click)="mostarListaEstudiantes()">Registrar nuevo
            alumno al grupo</button>
          <app-grupo-select-inscripcion [perfilIdInscritosLista]="perfilIdInscritosLista" [grupoId]="grupo.id"
            (onEstudianteRegistrado)="agregarEstudiante($event)" *ngIf="isVisibleListaEstudiantes">
          </app-grupo-select-inscripcion>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <mat-card-title>Lista de Alumnos inscritos al grupo:</mat-card-title>
        <div class="responsive-table">
          <mat-table #table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="nombres">
              <mat-header-cell *matHeaderCellDef> Nombres </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Nombres:</span>
                {{element.perfil_usuario.nombres}}
              </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="apellidoPaterno">
              <mat-header-cell *matHeaderCellDef> Apellido Paterno </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Apellido Paterno:</span>
                {{element.perfil_usuario.apellido_paterno}}
              </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="apellidoMaterno">
              <mat-header-cell *matHeaderCellDef> Apellido Materno </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Apellido Materno:</span>
                {{element.perfil_usuario.apellido_materno}}
              </mat-cell>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="opciones">
              <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Opciones:</span>
                <button mat-icon-button matTooltip="Eliminar Alumno del grupo" (click)="eliminarInscripcion(element.id)" color="primary">
                  <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>