<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Crear Grupo</mat-card-title>
        <!-- ============================================================== -->
        <!-- column -->
        <!-- ============================================================== -->
        <form [formGroup]="form" class="basic-form">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row">
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select placeholder="PROFESOR">
                  <mat-option value="option">Roberto Gomez</mat-option>
                  <mat-option value="option">Luis Almazan</mat-option>
                  <mat-option value="option">Arturo Claure</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select formControlName="programa" placeholder="PROGRAMA">
                  <mat-option *ngFor="let programa of programaLista" [value]="programa.id">{{ programa.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select formControlName="curso" placeholder="CURSO">
                  <mat-option *ngFor="let curso of cursoLista" [value]="curso.id">{{ curso.nombre }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select formControlName="nivel" placeholder="Nivel">
                  <mat-option *ngFor="let nivel of nivelLista" [value]="nivel.id">{{ nivel.nombre }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select formControlName="horario" placeholder="HORARIO">
                  <mat-option *ngFor="let horario of horarioLista" [value]="horario.id">{{ horario.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select formControlName="gestion" placeholder="GESTION">
                  <mat-option *ngFor="let gestion of gestionLista" [value]="gestion.id">{{ gestion.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100">
              <button mat-raised-button color="primary">ACEPTAR</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>