<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Crear Grupo</mat-card-title>
        <!-- ============================================================== -->
        <!-- column -->
        <!-- ============================================================== -->
        <form class="basic-form">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row">
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select placeholder="PROFESOR">
                  <mat-option value="option">Roberto Gomez</mat-option>
                  <mat-option value="option">Luis Almazan</mat-option>
                  <mat-option value="option">Arturo Claure</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select placeholder="PROGRAMA">
                  <mat-option value="option">Estandar</mat-option>
                  <mat-option value="option">Regular</mat-option>
                  <mat-option value="option">Intensivo</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select placeholder="CURSO">
                  <mat-option value="option">KCH</mat-option>
                  <mat-option value="option">PTSL</mat-option>
                  <mat-option value="option">AIT</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select placeholder="Nivel">
                  <mat-option value="option">0A</mat-option>
                  <mat-option value="option">0B</mat-option>
                  <mat-option value="option">1A</mat-option>
                  <mat-option value="option">1B</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select placeholder="HORARIO">
                  <mat-option value="option">18:35-21:45</mat-option>
                  <mat-option value="option">18:30-20:15</mat-option>
                  <mat-option value="option">17:15-18:30</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <mat-select placeholder="GESTION">
                  <mat-option value="option">2020</mat-option>
                  <mat-option value="option">2019</mat-option>
                  <mat-option value="option">2018</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100">
              <button mat-raised-button color="primary">ACEPTAR</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>