<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>ASIGNAR CURSO</mat-card-title>
        <!-- ============================================================== -->
        <!-- column -->
        <!-- ============================================================== -->
        <form class="basic-form">
          <div fxLayout="row wrap">
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="CARNET DE IDENTIDAD">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="NOMBRE COMPLETO DEL ESTUDIANTE">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <mat-select placeholder="PROFESOR">
                  <mat-option value="option">Profesor</mat-option>
                  <mat-option value="option">Profesor2</mat-option>
                  <mat-option value="option">Profesor3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <mat-select placeholder="PROGRAMA">
                  <mat-option value="option">Programa</mat-option>
                  <mat-option value="option">Programa2</mat-option>
                  <mat-option value="option">Programa3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100">
              <mat-form-field>
                <mat-select placeholder="CURSO">
                  <mat-option value="option">Curso</mat-option>
                  <mat-option value="option">Curso2</mat-option>
                  <mat-option value="option">Curso3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <mat-select placeholder="HORARIO">
                  <mat-option value="option">Horario</mat-option>
                  <mat-option value="option">Horario2</mat-option>
                  <mat-option value="option">Horario3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="GESTION">
              </mat-form-field>
            </div>
            <!-------------------------------------------------------------------->
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100">
              <button mat-raised-button color="primary">ACEPTAR</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>