<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title *ngIf="grupo">Calificaciones del curso {{ grupo.curso_nombre + '-' + grupo.nivel_nombre}}
          horario: {{ grupo.horario_nombre }}</mat-card-title>
        <div class="responsive-table">
          <mat-table #table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="nombreCompleto">
              <mat-header-cell *matHeaderCellDef> Alumno </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Alumno:</span>
                {{ element.perfil_usuario.nombres+' '+element.perfil_usuario.apellido_paterno+' '+element.perfil_usuario.apellido_materno }}
              </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="quiz1">
              <mat-header-cell *matHeaderCellDef> Quiz 1 </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Quiz 1:</span>
                {{ getCalificacion(element).quiz1 }}
              </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="quiz2">
              <mat-header-cell *matHeaderCellDef> Quiz 2 </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Quiz 2:</span>
                {{ getCalificacion(element).quiz2 }}
              </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="midterm">
              <mat-header-cell *matHeaderCellDef> MidTerm </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">MidTerm:</span>
                {{ (getCalificacion(element).quiz1+getCalificacion(element).quiz2)/2 | number: '1.0-0' }}
              </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="quiz3">
              <mat-header-cell *matHeaderCellDef> Quiz 3 </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Quiz 3:</span>
                {{ getCalificacion(element).quiz3 }}
              </mat-cell>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="quiz4">
              <mat-header-cell *matHeaderCellDef> Quiz 4 </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Quiz 4:</span>
                {{ getCalificacion(element).quiz4 }}
              </mat-cell>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="finalExam">
              <mat-header-cell *matHeaderCellDef> Final Exam </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Final Exam:</span>
                {{ (getCalificacion(element).quiz3+getCalificacion(element).quiz4)/2 }}
              </mat-cell>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="nota">
              <mat-header-cell *matHeaderCellDef> Nota </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Nota:</span>
                {{ (getCalificacion(element).quiz1+getCalificacion(element).quiz2+getCalificacion(element).quiz3+getCalificacion(element).quiz4)/4 | number: '1.0-0' }}
              </mat-cell>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="comentarios">
              <mat-header-cell *matHeaderCellDef> Comentarios </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Comentarios:</span>
                {{ getCalificacion(element).comments }}
              </mat-cell>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="opciones">
              <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <span class="header-label">Opciones:</span>
                <button *hasPermission="['can_edit_calificaciones']" mat-icon-button (click)="editarCalificacion(element)" color="primary">
                  <mat-icon aria-label="Example icon-button">edit</mat-icon>
                </button>
                <button mat-icon-button color="primary">
                  <mat-icon aria-label="Example icon-button" (click)="verKardex(element)">launch</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>