<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <div style="display: flex; position: fixed; right: 50px; top: 50px;">
        <button mat-raised-button color="primary" type="button" class="btn-lg" [routerLink]="'/login'" >Iniciar sesión</button>
    </div>

    <div class="login-register-box2">        
        <!--
        <div class="bg-info text-white m-b-10 text-center p-t-10 p-b-10 alert-box">
            <span class="m-r-10">Username : admin</span> |
            <span class="m-l-10">Password : admin123</span>
        </div>
        -->
        <mat-card class="m-t-10">
           
        <mat-card-content>
            <app-calendario></app-calendario>
        </mat-card-content>
        </mat-card>
    </div>
</div>