<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>{{ editMode ? tituloEditar : tituloCrear }}</mat-card-title>
        <!-- ============================================================== -->
        <!-- column -->
        <!-- ============================================================== -->
        <form [formGroup]="form" class="basic-form">
          <div fxLayout="row wrap" fxFlexAlign="center" class="row">
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <input matInput formControlName="nombre" placeholder="GESTION">
                <mat-error *ngIf="nombre.hasError('required')">
                  El campo Nombre es <strong>obligatorio</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100" class="p-10">
              <mat-form-field>
                <textarea matInput formControlName="descripcion" placeholder="DESCRIPCIÓN DE LA GESTION"
                  rows="6"></textarea>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100">
              <button mat-raised-button *ngIf="!editMode" type="button" (click)="crear()"
                color="primary">ACEPTAR</button>
              <button mat-raised-button *ngIf="editMode" type="button" (click)="editar()"
                color="primary">ACEPTAR</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>