<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>REGISTRAR USUARIO</mat-card-title>
        <!-- ============================================================== -->
        <!-- column -->
        <!-- ============================================================== -->
        <form [formGroup]="usuarioForm" class="basic-form">
          <div fxLayout="row wrap">
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput formControlName="nombres" placeholder="NOMBRES">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput formControlName="apellidopaterno" placeholder="APELLIDO PATERNO">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput formControlName="apellidomaterno" placeholder="APELLIDO MATERNO">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput formControlName="carnetidentidad" placeholder="CARNET DE IDENTIDAD">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput formControlName="celular" placeholder="CELULAR">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100">
              <mat-form-field>
                <mat-select placeholder="TIPO DE USUARIO">
                  <mat-option *ngFor="let role of rolesLista" [value]="role.id">{{role.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput formControlName="email" placeholder="CORREO ELECTRONICO">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput formControlName="password" placeholder="CONTRASEÑA" type='password'>
              </mat-form-field>
            </div>
            <!-------------------------------------------------------------------->
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100">
              <button mat-raised-button type="button" (click)="saveUsuario()" color="primary" >ACEPTAR</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>