<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>REGISTRAR USUARIO</mat-card-title>
        <!-- ============================================================== -->
        <!-- column -->
        <!-- ============================================================== -->
        <form class="basic-form">
          <div fxLayout="row wrap">
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="NOMBRE">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="APELLIDO PATERNO">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="APELLIDO MATERNO">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="CARNET DE IDENTIDAD">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100">
              <mat-form-field>
                <mat-select placeholder="TIPO DE USUARIO">
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
             <!-- column -->
             <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="CORREO ELECTRONICO">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="CONTRASEÑA">
              </mat-form-field>
            </div>
            <!-- column -->
            <div fxFlex.gt-md="100" fxFlex="100">
              <mat-form-field>
                <input matInput placeholder="CELULAR">
              </mat-form-field>
            </div>
            <!-------------------------------------------------------------------->          
            <!-- column -->
            <div fxFlex.gt-sm="100" fxFlex="100">
              <button mat-raised-button color="primary">ACEPTAR</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>